<form action="/auth/login" method="post">
    <link rel="stylesheet" href="/css/main.css">
   
    <div class="container">
    <div class="imgcontainer">
        <img src="/images/Avatar.png" alt="Avatar" class="avatar">
      </div>

    <div class="email">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Your Email" name="email" required>
    </div>

    <div class="pass">
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    </div>

    <div class="btu">
        <button type="submit">LOGIN</button>
    </div>
</div>
<div class="footer"> </div>
</form>