<form action="/auth/signup" method="post">
    <link rel="stylesheet" href="/css/main.css">
    
    <div class="container">
        <h1> Sign up for an account<br> </h1>
        <h5> Signing up for an account is free and easy. </h5>
    <div>
        <div class="name">
            <label for="uname"><b>Name</b></label>
            <input type="text" placeholder="Enter Your Name" name="uname" required>
        </div>

    <div class="email">
        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Enter Your Email" name="uname" required>
    </div>

    <div class="pass">
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    </div>

    <div class="btu">
        <button type="submit">SIGN UP </button>
    </div>
</div>
    </div>
<div class="footer2"> </div>
</form>