<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Movie Database</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <% if (user) { %>
            <a href="/user/watchlist">Watchlist</a>
            <a href="/auth/logout">logout</a>
        <% } else { %>
            <a href="/auth/signup">signup</a>
            <a href="/auth/login">login</a>
        <% } %>
    </nav>

    <%- body %>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    
    <script src="/js/happy.js"></script>
</body>

</html>