<form action="/user/edit?_method=PUT" method="post">

    <div class="pass2">
        <label for="password"><b>New Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    </div>


    <div class="btu2">

        <button class="changepasswd" type="submit">Edit</button>
    </div>

</form>